@import 'base/variables';
@import 'base/mixin';

*{
    font-family: 'Museo Sans';
            margin-bottom: 0;
}
.container{
    max-width: 950px;
    margin: 0 auto;
}
@import 'blocks/promo';
@import 'blocks/header';
@import 'blocks/buttons';