.hamburger{
    position: absolute;
    top: 20px;
    right: 30px;
    height: 21px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:flex-end;
    cursor: pointer;
    &__line{
        display: block;
        width: 30px;
        height: 3px;
        background-color: #fff;
        &_long{
            width: 36px;
            margin-left: 0;
        }
    }
}
.menu{
    position: absolute;
    left: -100%;
    top: 0;
    z-index: 10;
    width: 100%;
    height: 100vh;
    visibility: hidden;
    opacity: 0;
    transition: all 1s;
    &_active{
        left: 0;
        top: 0;
        visibility: visible;
        opacity: 1;
    }
/*     visibility: hidden;
    opacity: 0; */
    &__block{  
        position: relative;
        background-color: $main-color;
        width: 345px;
        height: 100vh;
        padding-top: 140px;
        z-index: 10;
    }
    &__close{
        position: absolute;
        top: 25px;
        right: 25px;
        cursor: pointer;
    }
    &__list{
        padding-left: 75px;
        list-style: none;
    }
    &__link{
        position: relative;
        font-weight: 700;
        font-size: 24px;
        margin-bottom: 15px;
        a{
            color: #FFFFFF; 
            text-decoration: none;
        }
        &::before{
            content: "";
            display: block;
            width: 15px;
            height: 15px;
            border: 3px solid #fff;
            border-radius: 100%;
            position: absolute;
            left: -35px;
            top: 50%;
            transform: translatey(-50%);
            transition: all .5s;
        }
        &:hover{
            &::before{
                background-color: #fff;
            }
        }
    }
    &__social{
        position: absolute;
        bottom: 50px;
        left: 50%;
        transform: translateX(-50%);
        width: 90px;
        display: flex;
        justify-content: space-between;
        svg path{
           fill: #fff;
        }
    }
}
.overlay{
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.75);
    width: 100%;
    height: 100vh;
    z-index: 5;
}