.promo{
    background: url('../img/promo/promo_bg.jpg') no-repeat 50%/cover;
    min-height: 100vh;
    padding-top: 200px;
    position: relative;
    &__link{
        font-weight: 700;
        font-size: 14px;
        color: #FFFFFF;
        text-decoration: none;
        &:hover{
            text-decoration: none;
            /* color:#fff; */
        }
    }
    &__btns{
        margin-top: 30px;
        width: 270px;
        display: flex;
        justify-content: space-between;
    }
    &__subtitle{
        position: relative;
        padding-left: 10px;

        z-index: 2;
    }
}