.title{
    position: relative;
    margin-top: 6px;
    font-weight: 700;
    font-size: 36px;
    line-height: 60px;
    color: #000000;
    text-align: center;
    &_white{
        color: #FFFFFF;
    }
    &_left{
        text-align: left;
    }
    &_sub16{
        font-size: 16px;
        line-height: 24px;
        padding-left: 10px;
        @include before_circle;
    }
    &_fs48{
        font-size: 48px;
        margin-top: 9px;
        line-height: 60px;
    }
}